<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h1>옵션</h1>


    <div id="box">
        <form action="/orders" method="post">
            <h1 th:text="${menu.name}"></h1>
            <h1 th:text="'가격: ' + ${menu.price}"></h1>
            <input type="hidden" name="menuId" th:value="${menu.id}">
            수량: <input type="number" name="quantity">
            <table align=center class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="optionCategoryDto : ${optionCategoryDtoList}">
                    <td th:text="${optionCategoryDto.name}"></td>
                    <!-- <td th:text="${menuCategoryDto.menus}"></td>-->
                    <td>

                        <table>
                            <tr>
                                <td>옵션</td>
                                <td>가격</td>
                                <td>추가</td>
                            </tr>
                            <tr th:each="option : ${optionCategoryDto.options}">

                                <td th:text="${option.name}"></td>
                                <td th:text="${option.price}"></td>
                                <td>
                                    <input type="checkbox" name="checkedOptions" th:value="${option.id}">
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                </tbody>
            </table>
            결제방식: <select name="paymentType">
            <option value="cash">현금</option>
            <option value="card">카드</option>
            <option value="online">요기서1초결제</option>
        </select>
            요청사항: <input type="text" name="request">
            주문방식: <select name="orderType">
            <option value="call">전화</option>
            <option value="touch">터치</option>
        </select>
            도시: <input type="text" name="city">
            상세주소: <input type="text" name="region">

            <input type="submit" value="주문표에 담기">
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
